.footer {
	padding: 40px 0px;
	width: 100%;
	border-top: 1px solid #D5D5D5;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

.footer-container {
	width: 70%;
}

.footer-main {
	display: flex;
	justify-content: center;
	margin-left: -10px;
}

.footer-item {
	width: 25%;
	margin: 10px 0px 10px 10px;

	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		font-size: 0.9em;

		a {
			text-decoration: none;
			color: inherit;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.footer-item-title {
	padding-bottom: 15px;
	font-weight: 400;
	// border-bottom: 1px solid #D5D5D5;
}

.footer-logo-container {
	margin-top: 40px;
	border-top: 1px solid #D5D5D5;
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}