@import 'Global.scss';

.navigation-bar {
	margin-top: 50px;
	padding: 15px 0;
	border-bottom: 1px solid #E5E5E5;
}

.MuiAppBar-colorPrimary-42 {
	background-color: white !important;
	color: black !important;
}

.MuiPaper-shadow4-50 {
	box-shadow: none !important;
}

.MuiTabIndicator-colorAccent-102 {
	background-color: $primary-color !important;
}